@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
                    <article>
                        <p>
                            Use this area to provide additional information.
                        </p>

                        <p>
                            Use this area to provide additional information.
                        </p>

                        <p>
                            Use this area to provide additional information.
                        </p>
                    </article>

                    <aside>
                        <h3>Aside Title</h3>
                        <p>
                            Use this area to provide additional information.
                        </p>
                        <ul></ul>
                    </aside>
            break;
    }
}