@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
                    <article style="padding: 70px 10px 10px 10px;">
                        <p>
How to pay:
</p>
<p>
1. You can pay by cash, bank cards through PayPal.
</p>
<p>
2. If you pay cash, use the application number (printed on the voucher or electronic version) and refer to the rack of your hotel. According to the application number will pay the hotel manager. Payment status can be checked in the menu "Check Status".
</p>
<p>
3. If you pay by credit card, follow the instructions. EXGO uses third-party service to receive payments, all the transactions and operations are provided by a third-party security service. To transfer data using a secure protocol, https.
</p>
<p>
4. If you pay via PayPal, follow the instructions. EXGO using PayPal service to receive payments, transactions and all necessary security operations provide service PayPal. To transfer data using a secure protocol, https.
</p>
<p>
5. tour bookings must be paid no later than 24 hours before the start of the tour. In the absence of payment of the application will automatically be canceled.
</p>
<p>
6. When booking tours, before which have less than 24 hours, it is necessary to make their payment within 1h. In the absence of payment of such claims will be canceled automatically.
</p>
<p>
7. Status excursions (confirmation) can be checked at any time from the menu "Check Status".
                        </p>
                    </article>

            break;
        case "ru":
                    <article style="padding: 70px 10px 10px 10px;">
                        <p>
Как оплатить:
</p>
<p>
1.	Возможна оплата наличными, банковской картой и через PayPal.
</p>
<p>
2.	При оплате наличными используйте номер заявки (на распечатанном ваучере или из электронной версии) и обратитесь на стойку вашего отеля. По номеру заявки менеджер отеля примет оплату. Статус оплаты можно проконтролировать в меню «Проверить статус».
</p>
<p>
3.	При оплате банковской картой следуйте инструкциям. EXGO использует сторонний сервис для приема платежей, все необходимые транзакции и безопасность операции обеспечиваются сторонним сервисом. Для передачи данных используется защищенный протокол https.
</p>
<p>
4.	При оплате через PayPal следуйте инструкциям. EXGO использует сервис PayPal для приема платежей, все необходимые транзакции и безопасность операции обеспечиваются сервисом PayPal. Для передачи данных используется защищенный протокол https.
</p>
<p>
5.	Забронированные экскурсии должны быть оплачены не позднее чем за 24 часа до начала экскурсии. При отсутствии оплаты заявка аннулируется автоматически.
</p>
<p>
6.	При бронировании экскурсий, до начала которых осталось менее 24 часов, необходимо произвести их оплату в течение 1ч. При отсутствии оплаты такие заявки будут аннулированы автоматически.
</p>
<p>
7.	Статус экскурсии (подтверждение, оплата) можно проверить в любой момент из меню «Проверить статус».
                        </p>
                    </article>

            break;
        case "de":
                    <article style="padding: 70px 10px 10px 10px;">
                        <p>
Wie bezahlen:
</p>
<p>
1. Sie können durch Bargeld über PayPal bezahlen, Bankkarten.
</p>
<p>
2. Wenn Sie bar bezahlen, verwenden Sie die Anmeldenummer (auf dem Gutschein oder elektronische Version gedruckt) und beziehen sich auf die Zahnstange Ihres Hotels. Nach der Anmeldenummer werden das Hotel-Manager zu zahlen. Zahlungsstatus kann im Menü "Status prüfen" überprüft werden.
</p>
<p>
3. Wenn Sie mit Kreditkarte bezahlen, folgen Sie den Anweisungen. EXGO nutzt externe Dienstleister, um Zahlungen zu erhalten, werden alle Transaktionen und Operationen von einem Drittanbieter-Sicherheitsdienst zur Verfügung gestellt. Zur Übertragung von Daten mit einem sicheren Protokoll, https.
</p>
<p>
4. Wenn Sie über PayPal bezahlen, folgen Sie den Anweisungen. EXGO über PayPal-Service, Zahlungen, Transaktionen zu erhalten und alle erforderlichen Sicherheitsmaßnahmen bieten Service PayPal. Zur Übertragung von Daten mit einem sicheren Protokoll, https.
</p>
<p>
5. Tour-Buchungen müssen spätestens 24 Stunden vor dem Beginn der Tour bezahlt werden. In Ermangelung einer Zahlung von der Anwendung automatisch storniert.
</p>
<p>
6. Bei der Buchung von Touren, vor dem haben weniger als 24 Stunden, ist es notwendig, ihre Zahlung innerhalb von 1 Stunde zu machen. In Ermangelung einer Zahlung dieser Forderungen werden automatisch storniert.
</p>
<p>
7. Status Ausflüge (Bestätigung) kann jederzeit im Menü "Status prüfen" überprüft werden.
                        </p>
                    </article>

            break;
        case "el":
                    <article style="padding: 70px 10px 10px 10px;">
                        <p>
Πώς να πληρώσει:
</p>
<p>
1. Μπορείτε να πληρώσετε με μετρητά, τραπεζικές κάρτες μέσω PayPal.
</p>
<p>
2. Εάν πληρώνετε με μετρητά, χρησιμοποιήστε τον αριθμό αίτησης (που αναγράφεται στο κουπόνι ή ηλεκτρονική μορφή) και αναφέρονται στο ράφι του ξενοδοχείου σας. Σύμφωνα με τον αριθμό της αίτησης θα πληρώσει τον υπεύθυνο του ξενοδοχείου. Καθεστώς πληρωμής μπορεί να ελεγχθεί από το μενού "Έλεγχος κατάστασης".
</p>
<p>
3. Εάν πληρώσετε με πιστωτική κάρτα, ακολουθήστε τις οδηγίες. EXGO χρησιμοποιεί την υπηρεσία τρίτου μέρους για να λαμβάνετε πληρωμές, όλες οι πράξεις και ενέργειες που προβλέπονται από την υπηρεσία ασφαλείας τρίτους. Για να μεταφέρετε δεδομένα χρησιμοποιώντας ένα ασφαλές πρωτόκολλο, https.
</p>
<p>
4. Εάν πληρώνετε μέσω PayPal, ακολουθήστε τις οδηγίες. EXGO χρήση της υπηρεσίας PayPal για να λάβετε τις πληρωμές, οι συναλλαγές και όλες οι πράξεις που είναι απαραίτητες ασφάλεια παρέχουν την υπηρεσία PayPal. Για να μεταφέρετε δεδομένα χρησιμοποιώντας ένα ασφαλές πρωτόκολλο, https.
</p>
<p>
5. κρατήσεις για εκδρομές θα πρέπει να καταβληθεί το αργότερο 24 ώρες πριν από την έναρξη της περιοδείας. Σε περίπτωση απουσίας πληρωμής της αίτησης θα ακυρωθεί αυτόματα.
</p>
<p>
6. Κατά την κράτηση εκδρομές, ενώπιον του οποίου έχουν λιγότερο από 24 ώρες, είναι απαραίτητο να κάνετε την πληρωμή τους εντός 1 ώρας. Ελλείψει πληρωμής αυτών των αποζημιώσεων θα ακυρωθεί αυτόματα.
</p>
<p>
7. εκδρομές Κατάσταση (επιβεβαίωση) μπορούν να ελεγχθούν ανά πάσα στιγμή από το μενού "Έλεγχος κατάστασης". 
                       </p>
                    </article>

            break;
    }
}