@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
How to book:
</p>
<p>
1. Choose a category excursions (land, sea, etc.)
</p>
<p>
2. Select the tour
</p>
<p>
3. the description of the city's calendar, select the date of the tour and press "Book". Available dates are marked in green font.
</p>
<p>
4. Specify the number of adults and children participating in the tour, and click "Add to order"
</p>
<p>
5. You are on the page with your orders. You can make your reservation and pick another tour, this press "Book Tour." The list of orders can be returned at any time via the link "My Orders" in the top menu.
</p>
<p>
6. On the orders enter your name, phone number and e-mail address, and place of residence in Cyprus. You must agree to the terms of reservation, putting "checkbox" next to the appropriate item. After clicking the "Book Now" your order will be saved and you will be redirected to the payment page.
</p>
<p>
7. The tour must be paid in advance. All payment options, see "How to pay"
</p>
<p>
8. Status excursions (confirmation) can be checked at any time from the menu "Check Status".
                </p>
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
Как забронировать:
</p>
<p>
1.	Выберите категорию экскурсий (наземные, морские и т.д.)
</p>
<p>
2.	Выберите экскурсию
</p>
<p>
3.	Под описанием экскурсий в календаре выберите дату экскурсии и нажмите кнопку «Бронировать». Доступные даты выделены зеленым шрифтом. 
</p>
<p>
4.	Укажите количество взрослых и детей, участвующих в экскурсии, и нажмите кнопку «Добавить к заказу»
</p>
<p>
5.	Вы находитесь на странице со своими заказами. Можно продолжить бронирование и выбрать еще одну экскурсию, для этого нажать «Бронирование экскурсий». В список заказов можно вернутся в любое время по ссылке «Мои заказы» в верхнем меню. 
</p>
<p>
6.	На странице заказов укажите свое имя, контактный номер телефона и адрес электронной почты, а также место проживания на Кипре. Необходимо согласится с Условиями бронирования, поставив «галку» напротив соответствующего пункта. После нажатия «Забронировать» ваш заказ будет сохранен, и вы перейдете к странице оплаты.
</p>
<p>
7.	Экскурсия должна быть полностью оплачена до ее начала. Все варианты оплаты смотрите в разделе «Как оплатить»
</p>
<p>
8.	Статус экскурсии (подтверждение, оплата) можно проверить в любой момент из меню «Проверить статус».
                </p>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
 Wie erfolgt die Buchung:
</p>
<p>
1. Wählen Sie eine Kategorie Ausflüge (Land, Wasser, etc.)
</p>
<p>
2. Wählen Sie die Tour
</p>
<p>
3. die Beschreibung der Stadt Kalender, wählen Sie das Datum der Tour, und drücken Sie "Buchen". Vorhandene Daten werden in grüner Schrift gekennzeichnet.
</p>
<p>
4. Geben Sie die Anzahl der Erwachsenen und Kinder, die an der Tour, und klicken Sie auf "Einkaufswagen"
</p>
<p>
5. Sie sind auf der Seite mit Ihren Aufträgen. Sie können Ihre Reservierung zu machen und wählen Sie einen weiteren Tour, diese Presse "Book-Tour." Die Liste der Aufträge können jederzeit über den Link "Meine Bestellungen" in der oberen Menüleiste zurückgegeben werden.
</p>
<p>
6. Auf Befehl geben Sie Ihren Namen, Telefonnummer und E-Mail-Adresse und Wohnsitz in Zypern. Sie müssen den Bedingungen der Reservierung zustimmen, Putting "Checkbox" neben dem entsprechenden Artikel. Nach einem Klick auf "Jetzt buchen" das wird Ihre Bestellung gespeichert werden und Sie werden auf der Zahlungsseite umgeleitet werden.
</p>
<p>
7. Die Tour muss im Voraus bezahlt werden. Alle Zahlungsmöglichkeiten finden Sie unter "Wie bezahlen"
</p>
<p>
8. Status Ausflüge (Bestätigung) kann jederzeit im Menü "Status prüfen" überprüft werden.
                </p>
            </article>

            break;
        case "el":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
Πώς να κάνετε κράτηση:
</p>
<p>
1. Επιλέξτε μια κατηγορία εκδρομές (γη, θάλασσα, κλπ)
</p>
<p>
2. Επιλέξτε την περιοδεία
</p>
<p>
3. Η περιγραφή του ημερολογίου της πόλης, επιλέξτε την ημερομηνία της περιοδείας και πατήστε το πλήκτρο "Κράτηση". Οι διαθέσιμες ημερομηνίες επισημαίνεται με πράσινο χρώμα γραμματοσειράς.
</p>
<p>
4. Καθορίστε τον αριθμό των ενηλίκων και των παιδιών που συμμετείχαν στην περιοδεία, και κάντε κλικ στο κουμπί "Προσθήκη στην τάξη"
</p>
<p>
5. Είστε στη σελίδα με τις παραγγελίες σας. Μπορείτε να κάνετε την κράτησή σας και να επιλέξετε έναν άλλο γύρο, αυτό πατήστε το κουμπί "Κάντε Tour". Ο κατάλογος των εντολών μπορεί να επιστρέψει ανά πάσα στιγμή μέσω του συνδέσμου "Οι παραγγελίες μου" στο μενού στην κορυφή.
</p>
<p>
6. Με εντολή εισάγετε το όνομα, τον αριθμό τηλεφώνου σας και τη διεύθυνση ηλεκτρονικού ταχυδρομείου, και ο τόπος διαμονής σε Κύπρος. Θα πρέπει να συμφωνήσετε με τους όρους της κράτησης, βάζοντας "κουτάκι" δίπλα στο κατάλληλο σημείο. Αφού κάνετε κλικ στο "Κάντε Κράτηση Τώρα" η παραγγελία σας θα αποθηκευτούν και θα μεταφερθείτε στη σελίδα πληρωμής.
</p>
<p>
7. Η περιοδεία θα πρέπει να καταβληθεί εκ των προτέρων. Όλες οι επιλογές πληρωμής, ανατρέξτε στην ενότητα "Πώς να πληρώσει"
</p>
<p>
8. εκδρομές Κατάσταση (επιβεβαίωση) μπορούν να ελεγχθούν ανά πάσα στιγμή από το μενού "Έλεγχος κατάστασης".
                </p>
            </article>

             break;
    }
}