<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="report_PrintVoucher" value="Voucher.fr3"/>
  <add key="reportServerDatabase" value="db"/>

  <add key="urlLanguageDefault" value="ru"/>
  <add key="urlLanguageSupported" value="ru,en,de,el"/>
  <add key="urlLanguageUseBrowserPreferences" value="false"/>
  
  <!--<add key="guestDefaultPage" value="excursion/index"/>-->

  <add key="visualThemeDefault" value="green"/>
  <add key="visualThemeSupported" value="red,green,blue"/>
  
  
  <add key="isCacheDisabled" value="true"/>
  <add key="isHideDeparturePoints" value="true"/>

  <add key="excursionGeographySearchLimit" value="20"/>
  <add key="excursionDefaultPartnerAlias" value="price-partner"/> 
  <!-- <add key="excursionDefaultPartnerAlias" value="price-partner"/> -->
  <add key="excursionWithPriceOnlyCatalog" value="false"/>
  <add key="excursionDefaultDate" value="0"/>

  <add key="isShowBreadCrumb" value="true"/>
  <add key="isShowHotelGuideInfo" value="false"/>
 
  <add key="oauthMicrosoftClientId" value="test"/>
  <add key="oauthMicrosoftClientSecret" value="test"/>

  <add key="oauthTwitterConsumerKey" value=""/>
  <add key="oauthTwitterConsumerSecret" value=""/>

  <add key="oauthFacebookAppId" value=""/>
  <add key="oauthFacebookAppSecret" value=""/>
  
  <add key="oauthVKontakteAppId" value=""/>
  <add key="oauthVKontakteAppSecret" value=""/>

  <add key="oauthGoogle" value="True"/>

  <add key="requireRegisterConfirmation" value="True"/>
  <add key="accountMailNotifications" value="True"/>

  <add key="paymentPaypalSandbox" value="True"/>

<add key="paymentPaypalUsername" value="test-seller_api1.orpheus-travel.com"/>
  <add key="paymentPaypalPassword" value="RQJXD6MCNVUYLVQV"/>
  <add key="paymentPaypalSinature" value="An5ns1Kso7MWUdW4ErQKJJJ4qi4-Adpblxj53iKQSXRYbJjSL9RYqAWu"/>
  
<!--
 <add key="paymentPaypalUsername" value="vip_api1.orpheus-travel.com"/>
  <add key="paymentPaypalPassword" value="TFJV7NT5LWY6XXYK"/>
  <add key="paymentPaypalSinature" value="AzEIjBlG1T5ZuGWyHA3q3riu4c.kANmT3gXD2Q76eL6iKMTsut3LIUyD"/>

<add key="paymentPaypalUsername" value="ainochkin-facilitator_api1.yandex.ru"/>
  <add key="paymentPaypalPassword" value="1384014126"/>
  <add key="paymentPaypalSinature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AJQ0SL9Pu3MEcGJh8ujkK9xNi66n"/>
-->
  <!-- 'Uniteller' payment system params -->
  <add key="unitellerShopId" value=""/>
  <add key="unitellerPassword" value=""/>


  <add key="payuShopId" value="eweweeew"/>
  <add key="payuPassword" value="n9?*cA!8S4Z4x5s&amp;z969"/>


 
    <add key="smtp_server" value="smtp.yandex.ru"/>
    <add key="smtp_user" value="noreply@exgo.com"/>
    <add key="smtp_pass" value="p2bLuZklWC"/>
    <add key="smtp_port" value="587"/>
    <add key="smtp_use_ssl" value="true"/>


  <add key="sms_url" value="http://letsads.com/api"/>
  <add key="sms_login" value="35799389638"/>

  <add key="sms_password" value="649722"/>
  <add key="sms_name" value="exgo.com"/>

  
  <add key="timelimit_max_hours" value="48"/>
  <add key="timelimit_min_hours" value="1"/>
  <add key="timelimit_default_stopsale_hours" value="6"/>
  
</appSettings>