<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="report_PrintVoucher" value="Voucher.fr3"/>
  <add key="reportServerDatabase" value="db"/>

  <add key="urlLanguageDefault" value="en"/>
  <add key="urlLanguageSupported" value="ru,en,de,fr"/>
  <add key="urlLanguageUseBrowserPreferences" value="false"/>
  
  <!--<add key="guestDefaultPage" value="excursion/index"/>-->

  <add key="visualThemeDefault" value="green"/>
  <add key="visualThemeSupported" value="red,green,blue"/>
  
  
  <add key="isCacheDisabled" value="true"/>
  <add key="isHideDeparturePoints" value="true"/>

  <add key="excursionGeographySearchLimit" value="20"/>
  <add key="excursionDefaultPartnerAlias" value="price-partner"/> 
  <!-- <add key="excursionDefaultPartnerAlias" value="price-partner"/> -->
  <add key="excursionWithPriceOnlyCatalog" value="false"/>
  <add key="excursionDefaultDate" value="0"/>

  <add key="isShowBreadCrumb" value="false"/>
  <add key="isShowHotelGuideInfo" value="false"/>
 
  <add key="oauthMicrosoftClientId" value="test"/>
  <add key="oauthMicrosoftClientSecret" value="test"/>

  <add key="oauthTwitterConsumerKey" value=""/>
  <add key="oauthTwitterConsumerSecret" value=""/>

  <add key="oauthFacebookAppId" value=""/>
  <add key="oauthFacebookAppSecret" value=""/>
  
  <add key="oauthVKontakteAppId" value=""/>
  <add key="oauthVKontakteAppSecret" value=""/>

  <add key="oauthGoogle" value="True"/>

  <add key="requireRegisterConfirmation" value="True"/>
  <add key="accountMailNotifications" value="True"/>


  <add key="paymentPaypalSandbox" value="True"/>
  <add key="paymentPaypalUsername" value="ainochkin-facilitator_api1.yandex.ru"/>
  <add key="paymentPaypalPassword" value="1384014126"/>
  <add key="paymentPaypalSinature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AJQ0SL9Pu3MEcGJh8ujkK9xNi66n"/>

  <!-- 'Uniteller' payment system params -->
  <add key="unitellerShopId" value=""/>
  <add key="unitellerPassword" value=""/>
  
</appSettings>